---
// import { Loading } from "./Loading";
import { contact_dialog_html_elt_id } from "./config";
import { Picture } from "astro-imagetools/components";
import ContactDialogForm from "./ContactDialogForm.astro"

const contactImage = "/src/assets/cosmic_contact_settings.jpeg"
const imageName = contactImage.split("/").pop().split(".")[0]
const animation = `image_${imageName}`;
---

<style>

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.bg-dark-blur {
  @apply bg-dark bg-opacity-50 backdrop-blur-sm;
}
</style>

<!-- Main modal -->
<div
  id={`${contact_dialog_html_elt_id}`}
  tabindex="-1"
  aria-hidden="true"
  class="invisible bg-dark-blur transition-opacity duration-1000 ease-in-out opacity-100 scrollbar-hide fixed top-0 z-50 m-auto h-[calc(100%-1rem)] max-h-full w-full items-center justify-center overflow-y-auto overflow-x-hidden md:inset-0"
>
  <div class="relative mx-auto mt-[8vh] max-h-full w-full max-w-2xl p-4">

    <!-- Modal content -->
    <div class="flex flex-col justify-between p-1 leading-normal">
      <button
        id="closePestoContactModalBtn"
        type="button"
        class="ms-auto mt-0 inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
        data-modal-hide="default-modal"
      >
      <svg
        class="h-3 w-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
      </svg>
      <span class="sr-only">Close modal</span>
    </button>
    </div>
    <a
      href="#"
      class="flex flex-col items-center rounded-lg border border-gray-200 shadow bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 md:max-w-xl md:flex-row"
    >

      <style>
        img.astro-imagetools-img, .astro-imagetools-picture {
          @apply rounded-xl rounded-t-xl blur;
        }
      </style>          

      <Picture
        className="object-cover transition-all border-4 w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
        breakpoints={[
          360, 390, 412, 601, 768, 820, 962, 1280, 1440, 1536, 1920,
        ]}
        attributes={{ //omy gosh : https://github.com/RafidMuhymin/astro-imagetools/issues/18#issuecomment-1146516898
          img: {
            class: 'rounded-l-lg'
          }
        }}
        src={contactImage}
        alt={`Contact Us`}
        layout="fullWidth"
        aspect={`0.465`}
        position="attention"
        transition:persist
        transition:name={`${animation}`}
        data-animation={animation}
        sizes={(breakpoints) => {
          const maxWidth = breakpoints[breakpoints.length - 1];
          return `(min-width: ${maxWidth}px) ${maxWidth}px, 100vw`;
        }}
      />
      <div class="flex flex-col justify-between p-1 leading-normal">
        <ContactDialogForm />
      </div>
    </a>
  </div>
</div>
